*{
    margin: 0%;
    padding: 0%;
}
:root{
--light-red: hsl(0, 50%, 53%);
--orangey-yellow: hsl(39, 100%, 56%);
--green-teal: hsl(166, 100%, 37%);
--cobalt-blue: hsl(234, 85%, 45%);
/* gradients */
--Light-slate-blue: hsl(252, 100%, 67%);
--Light-royal-blue: hsl(241, 81%, 54%);
--Violet-blue: hsla(256, 72%, 46%, 1);
--Persian-blue: hsla(241, 72%, 46%, 0);
/* Neutral colors */
--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);

}
/* font-family */
.outfit {
    font-family: "Outfit", serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  body{
    background-color: var(--Pale-blue);
    font-family: "Outfit", serif;
    color: white;
    font-size: 18px;
  }
  
   p{
    font-weight: 200;
    font-size: 18px;
    text-align: center;
    padding: 10px;
   } 
   span {
    color: black;
   }
   
   button:hover{
    cursor: pointer;
   }
   .overall{
    color: hsl(224, 47%, 74%);
   }
@media screen and (min-width: 200px) and (max-width: 500px)  {
  body{
    background-color: white;
  }
  .firstbox{
    /* background-color: hsla(241, 58%, 52%, 0.999); */
    background-image: linear-gradient(to bottom, #7857ff, #664af4, #513ee9, #3931df, #1125d4);
    width: 500px;
    height: 400px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    align-content: center;
    justify-items: center;
    
}
  .secondbox{
    background-color: var(--White);
    width: 500px;
    height: 550px;
    align-content: center;
    justify-items: center;
    
  }
  .enlarge76{
    font-size: 60px;
    font-weight: 600;
    color: white;
  }
  .firstbuttonlike{
    width: 170px;
    height: 170px;
    border-radius: 100%;
    margin: 20px;
    text-align: center;
    align-content: center;
    background-color: hsla(241, 90%, 24%, 0.173);
    margin-top: 35px;
  }
  .firstparagragh{
    text-align:center;
    padding-inline: 90px;
    padding-bottom: 20px;
  }

  .inbox1{
    background-color:  hsl(0, 30%, 96%);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;

    
  }
  .inbox2{
    background-color:  hsl(40, 36%, 95%);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  .inbox3{
    background-color:  hsl(168, 65%, 95%);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
  }
  .inbox4{
    background-color:   hsl(233, 36%, 91%);
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px
  }

  button{
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 20px;
    width: 410px;
    padding: 20px;
    border-radius: 40px;
    margin-bottom: 40px;
    margin-top: 15px;
    
  }
  .num1{
    padding-left: 220px;
   }
   .num2{
    padding-left: 230px;
   }
   .num3{
    padding-left: 240px;
   }
   .num4{
    padding-left: 240px;
   }
   .summary{
    padding: 20px;
    margin-right: 330px;
    color: black;
   }
   .reaction{
    color: var(--light-red);
    padding-left: 10px;
   }
   .memory{
    color: var(--orangey-yellow);
    padding-left: 10px;
   }
   .verbal{
    color: var(--green-teal);
    padding-left: 10px;
   }
   .visual{
    color: var(--cobalt-blue);
    padding-left: 10px;
   }
}
@media screen and (min-width: 800px) and (max-width: 2000px){
  body{
    background-color: var(--Pale-blue);
    position: relative;
  }
  .firstbox{
    /* background-color: linear-gradient(to top, hsl(200, 100%, 67%),hsla(241, 58%, 52%, 0.999)); */
    background-image: linear-gradient(to bottom, #7857ff, #664af4, #513ee9, #3931df, #1125d4);
    position: absolute;
    top: 90px;
    left: 380px;
    width: 350px;
    height: 510px;
    border-radius: 30px;
    align-content: center;
    justify-items: center;

  }
  .secondbox{
    background-color: var(--White);
    position:absolute;
    top: 90px;
    left: 710px;
    z-index: -1;
    width: 420px;
    height: 510px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    align-content: center;
    justify-items: center;
  }
  .firstbuttonlike{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 20px;
    text-align: center;
    align-content: center;
    background-color: hsla(245, 90%, 25%, 0.24);
    margin-top: 35px;
  }
  .enlarge76{
    font-size: 60px;
    font-weight: 600;
    color: white;
  }
  .firstparagragh{
    padding: 10px;
    text-align:center;
    padding-inline: 50px;
  }
  .inbox1{
    background-color:  hsl(0, 30%, 96%);
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
  }
  .inbox2{
    background-color:  hsl(40, 36%, 95%);
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
  }
  .inbox3{
    background-color:  hsl(168, 65%, 95%);
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px;
  }
  .inbox4{
    background-color:   hsl(233, 36%, 91%);
    width: 300px;
    padding: 15px;
    border-radius: 10px;
    margin: 20px
  }

  .num1{
    padding-left: 120px;
   }
   .num2{
    padding-left: 130px;
   }
   .num3{
    padding-left: 140px;
   }
   .num4{
    padding-left: 140px;
   }
   .summary{
    padding: 20px;
    padding-top: 20px;
    margin-right: 230px;
    color: var(--Dark-gray-blue)
  }
  .reaction{
    color: var(--light-red);
  
   }
   .memory{
    color: var(--orangey-yellow);
  
   }
   .verbal{
    color: var(--green-teal);
   }
   .visual{
    color: var(--cobalt-blue);
   }
   button{
    background-color: hsl(224, 30%, 27%);
    color: white;
    font-size: 20px;
    width: 300px;
    padding: 20px;
    border-radius: 40px;
    margin-top:10px
    
  }
}
